@font-face {
    font-family: "Lack";
    src: url("Lack-Regular.otf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

.body {
    background: url("./img/background.jpg") repeat;
    font-family: Lack, sans-serif;
    font-size: 26px;
    vertical-align: center;
}

.wrapper {
    height: 800px;
    position: relative;
    background: rgba(255,255,255,0.8);
    width: 95%;
    margin: auto;
}

.slider_content {
    width: 100%;
    max-width: 3600px;
    margin: 0 auto;
}

.slider {
    width: 600px;
    height: 675px;
    overflow: hidden;
}

.middle {
    position: absolute;
    top: -32.5%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.navigation {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.bar {
    height: 8px;
    width: 30px;
    margin: 6px;
    cursor: pointer;
    background-color: black;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}

.bar:hover {
    opacity: 1;
    transform: scale(1.1);
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide img {
    width: 600px;
    height: 600px;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

#r5:checked ~ .s1 {
    margin-left: -100%;
}

#r6:checked ~ .s1 {
    margin-left: -125%;
}